@model IEnumerable<Machine.Database.Data.AdminSite.Voucher>

@{
    ViewData["Title"] = "Vouchers";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdVoucher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Create)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdVoucher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Create)
            </td>
        </tr>
}
    </tbody>
</table>
